*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#eef2f7;
padding:40px;
}

.container{
max-width:900px;
margin:auto;
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,.08);
}

h1{
margin-bottom:30px;
}

label{
display:block;
margin-top:20px;
margin-bottom:10px;
font-weight:600;
}

input,
select,
textarea{
width:100%;
padding:15px;
border:1px solid #ccc;
border-radius:8px;
font-size:16px;
outline:none;
}

input:focus,
select:focus,
textarea:focus{
border-color:#4f46e5;
}

.small{
height:120px;
resize:vertical;
}

.large{
height:400px;
resize:vertical;
}

.buttons{
margin-top:30px;
display:flex;
gap:20px;
}

button{
padding:15px 35px;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
transition:.3s;
}

.draft{
background:#f59e0b;
color:white;
}

.publish{
background:#10b981;
color:white;
}

.draft:hover{
background:#d97706;
}

.publish:hover{
background:#059669;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.back-btn{
text-decoration:none;
background:#4f46e5;
color:white;
padding:12px 20px;
border-radius:8px;
}

.back-btn:hover{
background:#372fc9;
}